/* vc  */


@media (max-width: 767px) {
    #first nav {
      flex-direction: column;
    }
  
    #first ul {
      display: none;
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-end;
    }
  
    #first ul.active {
      display: flex;
    }
  
    #first .hamb {
      display: block;
      cursor: pointer;
      font-size: 24px;
    }
  
    #first .logo-box {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  @media (max-width: 1035px) {
    #first ul {
      flex-wrap: wrap;
    }
  }








  @media(max-width: 768px){
    .joint{
      display: block;
    }
    .text-side{
      max-width: 100%;
    }
    .text-cont{
      font-size: 22px;
    }
    .heading img{
      margin: 0;
      display: none;
    }
    .text-cont p{
      font-size: 16px;
    }
    .image-cont{
      max-width: 100%;
    }
    .image-cont img{
      height: 400px;
      width: 350px;
      margin-top: 30px;
      border-radius: 10px;
    }
  
  }




  /* javad */


    
@media (max-width : 768px) {
    .five{
        width: 100%;
        flex-direction: column;
        padding: 20px 0px;
        /* border: 10px solid red; */
  
    }
  
    .metting-image img{
        border-radius: 12px;
        width: 335px;
        display: flex;
        margin-inline: auto;
    }
  
    /* ------- six  -------- */
  
    .multiple-card {
        padding: 20px 0px;
        /* border: 10px solid red; */
    }
    .multiple-card .heading-two {
        padding: 20px;
        text-align: start;
    }
    .multiple-card .heading-two p {
        text-align: start;
    }
  
    .multiple-card .card-container {
        flex-direction: column;
        /* justify-content: start; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        padding: 40px 0px;
        gap: 20px;
    }
  
    .multiple-card .card-container .card {
        width: 250px;
        height: 140px;
        padding: 20px 40px;
    }
  
    .multiple-card .card-container .fives {
        height: 100px;
    }
  
    .multiple-card #learn-button {
        padding: 15px 20px;
    }
   
  }

  
  /* kanhaiya section  */



@media (max-width : 768px) {

    .seventh .const-7 h1{
        font-size: 27px;
    }
  
    .seventh .const-7 .card-sec{
        flex-direction: column;
        
    }
  
    .seventh .const-7 .card-sec .card-section {
        margin: auto;
    }
  
  
    .seventh .const-7 h1{
        /* width: 50%; */
        width: 60%;
        /* margin: auto; */
        /* text-align: center; */
    }
  
  
    .seventh .const-7 .head-para{
        max-width: 80%;
    
        /* margin: 20px auto;
        text-align: center; */
    }
  
  
    
  
  }
  
  @media (max-width : 567px) {
  
    .seventh .const-7 h1{
        font-size: 20px;
    }
  
    .seventh .const-7 .buttons .more-button{
        font-size: 13px;
    } 
  }




  /* prince  */


  @media(max-width: 720px){
    .fifth-stage{
      display: block;
    }
  
    
  .text-cont h1{
    font-size: 32px;
  }
  
  .text-cont{
    max-width: 100%;
    margin: auto;
  }
  
  .text-cont p{
    font-size: 14px;
    font-weight: 600;
  }
  
  .image-cont img{
    max-width: 350px;
    margin-top: 20px;
  }
  
  Footer{
    margin-top: 50px;
    display: block;
    padding: 30px 0px;
  }
  
  .footer-cont{
    margin-left: 20px;
  }
  
  .right-content{
    display: block;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .all-images{
    gap: 15px;
  }
  
  .first-content{
    width: 95%;
  }
  
  .second-content h3{
    margin-top: 30px;
  }
  
  .third-content h3{
    margin-top: 30px;
  }
  
  
  }