*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


main{ 
    width: 90%;
    margin: auto;
   }

  
  #first {
    padding-block: 20px;
    font-family: sans-serif;
  }
  
 
  
  #first nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #first ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  #first li {
    list-style: none;
  }
  
  #first .logo {
    padding: 10px 0px;
    font-weight: 700;
    color: orange;
    font-size: 28px;
  }
  
  #first a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: #6a6a67;
    font-size: 16px;
  }
  
  #first a:hover {
    color: black;
  }
  
  #first li:last-child {
    outline: 3px solid orange;
    border-radius: 9px;
    font-weight: 700;
    color: orange;
  }
  
  #first .hamb {
    display: none;
  }
  
  
  
  #different{
    color: orangered;
  }
  
  .text-side{
    max-width: 45%;
    padding-top: 30px;
  }
  
  .text-cont{
    font-size: 28px;
  }
  
  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .heading img{
    width: 70px;
    height: 70px;
    margin-top: 50px; 
    margin-right: 60px;
  }
  
  .text-cont p{
    font-size: 20px;
    margin-top: 20px;
    color: dimgray;
  }
  
  .contact-btn{
    border: none;
    padding: 10px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .joint{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    /* border: 10px solid red; */
  }
  
  .image-cont-1{
    max-width: 45%;
  }
  
  .image-cont-1 img{
    height: 500px;
    border-radius: 10px;
    padding-right: 100px;
  }
  



   
.second-box h1 {
  text-align: center;
  font-size: 48px;
}
.second-box span {
  color: rgba(238, 50, 25, 0.938);
}

.second-box .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  gap: 20px;
}

.second-box .card-container .card {
  max-width: 160px;
  /* height: 160px; */
  padding:10px 0px;
  border-radius: 12px;
}

.second-box .card-container .card img {
  width: 50px;
  margin: 1rem;
}

.second-box .card-container .card p {
  max-width: 150px;
  padding: 5px 10px;
  /* border: 1px solid red; */
  color: white;

}

.second-box .card-container .first {
  background-color: rgb(233, 120, 154);
}

.second-box .card-container .second {
  background-color: rgb(111, 111, 243);
}

.second-box .card-container .third {
  background-color: skyblue;
}

.second-box .card-container .four {
  background-color: rgb(201, 201, 75);
}

.second-box .card-container .five {
  width: 125px;
  background-color: orange;
  /* border: 1px solid red; */
}

#first-second {
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
}

#third-four {
  display: flex;
  /* justify-content: space-between; */

  gap: 30px;
}

/* ============== third box  ============= */

.third-box {
  display: flex;
  gap: 40px;
  padding: 50px 70px 0px 70px;
  /* border: 1px solid red; */
}

.third-box img {
  border-radius: 14px;
}

.third-box #front-image {
  width: 300px;
  border: 2px solid whitesmoke;
  position: relative;
  top: -150px;
  left: 260px;
}

.third-box .head {
  width: 60%;
  padding: 25px;
  /* border: 1px solid red; */
}

.third-box .head h2 {
  font-size: 38px;
  /* border: 1px solid red; */
}

.third-box .head h2 span {
  color: rgba(238, 50, 25, 0.938);
}

.third-box .head .small-midsize {
  display: flex;
  padding: 20px 10px ;
  gap: 20px;
  /* border: 1px solid red; */
}

.third-box .head .small-midsize button {
  background: none;
  border: 1px solid rgba(238, 50, 25, 0.938);;
  color: rgba(238, 50, 25, 0.938);;
  padding: 10px 16px;
  border-radius: 5px;
}

.third-box .head .small-midsize button:hover {
  background: rgb(243, 97, 12);
  color: white;

}



.five-1{
  /* width: 90%; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* padding: 50px 0px; */
}
.reason-para {
  padding: 0px 30px;
}


.reason-para h1{
  max-width: 325px;
  font-size: 36px;
}

.reason-para p{
  /* width: 350px; */
  padding-top: 20px;
  line-height: 23px;
  font-size: 18px;
}

.metting-image img{
  border-radius: 12px;
  max-width:  550px;  
  /* width: 100%; */
}

.five-1 .reason-para .watch {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  gap: 6px;
  /* border: 1px solid red; */
}

.five-1 .reason-para .watch img {
  width: 40px;
}

#button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: coral;
  color: white;
  border: none;
}

/*--------------- Six --------------------------*/

.multiple-card {
  padding: 50px 0px;
}
.multiple-card .heading-two {
  padding: 40px 150px;
  text-align: center;
}

.multiple-card .heading-two h1 {
  font-size: 40px;
}
.multiple-card .heading-two p {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
}

.multiple-card .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  gap: 20px;
}

.multiple-card .card-container .card {
  width: 220px;
  height: 120px;
  border-radius: 12px;
  text-align: center;
  padding: 10px 20px;
}
.multiple-card .card-container .card h1 {
  color: white;
  font-size: 28px;
}

.multiple-card .card-container .card p {
  width: 175px;
  padding: 5px 10px;
  /* border: 1px solid red; */
  text-align: center;
  color: white;

}
.multiple-card .card-container .card p h1 {
  color: white;
}

.multiple-card .card-container .first {
  background-color: rgb(248, 161, 47);
}

.multiple-card .card-container .second {
  background-color: rgb(102, 198, 236);
}

.multiple-card .card-container .second span {
  background: white;
  color: skyblue;
  padding: 3px 10px;
  border-radius: 5px;
}

.multiple-card .card-container .third {
  background-color: rgb(243, 55, 55);
}

.multiple-card .card-container .four {
  background-color: rgb(250, 89, 31);
}

.multiple-card .card-container .fives {
  height: 100px;
  background-color: rgb(52, 52, 247);
  padding: 25px;
} 

.multiple-card #learn-button {
  padding: 16px 35px ;
  background: orange;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  display: flex;
  margin-inline: auto;
}
  


.seventh .const-7 h1{
  width: 50%;
  margin: auto;
  text-align: center;
}

.seventh .const-7 h1 span{
  color: orange;
}

.seventh .const-7 .head-para{
  max-width: 65%;

  margin: 20px auto;
  text-align: center;
}

.seventh .const-7 .card-sec .card-section {    
  max-width:  350px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 10px;
  padding: 10px;
}

.seventh .const-7 .card-sec .card-section img{
  width: 100%;
  border-radius: 10px;

}

.seventh .const-7 .card-sec .card-section  h4{
  color: orangered;
}

.seventh .const-7 .card-sec .card-section .name-sec{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px 0px ;
  /* padding-top: 10px;   */

}


.seventh .const-7 .card-sec .card-section .video-button{
  /* width: 20%; */
  margin: 10px 0px;
  display: flex;

  gap: 5px;
  width: 100px;

  /* background-color: red; */
}

.seventh .const-7 .card-section .video-button img {
  width: 20px;
}

.seventh .const-7 .card-sec .card-section .video-button button{
  border: none;
  background-color: #fff;
}



.seventh .const-7 .card-sec{
  display: flex;
  justify-content: center;
  gap: 20px;
  /* width: 90%; */
  /* align-items: center; */
  /* border: 1px solid red;    */
}

.seventh .const-7 .buttons .more-button{
  margin-inline: auto;
  display: flex;
  padding: 10px;
  justify-content: center;
  border: none;
  background-color: orangered;
  border-radius: 5px;
  color: white;
  


}
.seventh .const-7 .buttons{
  width: 100%;
  margin: 20px 0px;

}

  
  .fifth-stage{
    /* margin: auto; */
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .text-cont-1{
    max-width: 40%;
  }
  
  span{
    color: orangered;
  }
  
  .text-cont-1 h1{
    font-size: 42px;
  }
  
  .text-cont-1 p{
    margin-top: 10px;
    font-size: 18px;
    color: darkgrey;
    line-height: 24px;
  }
  
  .image-cont img{
    max-width: 500px;
    border-radius: 10px;
  }
  
  #more{
    border: none;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 30px;
  }
  
          /* Footer  */
  
  Footer{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 80px;
    background-color: black;
    padding: 30px 0px 70px 65px
  } 
  
  .footer-cont h2{
    font-size: 24px;
    color: rgb(255, 166, 0);
    margin-bottom: 10px;
  }
  
  .input input{
    padding: 10px;  
    
  }
  
  .all-images{
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .all-images img{
    width: 30px;
    height: 30px;
  }
  
  .right-content{
    display: flex;
    gap: 90px;
  }
  
  .footer-cont{
    width: 35%;
  }
  
  .first-content{
    line-height: 24px;
    font-size: 14px;
    width: 40%;
    color: dimgrey  ;
  }
  
  .first-content h3{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
  }
  
  .second-content{
    color: dimgrey;
    font-size: 14px;
    line-height: 24px;
  }
  
  .second-content h3{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
  }
  
  .third-content{
    font-size: 14px;
    color: dimgrey;
    line-height: 24px;
  }
  
  .third-content h3{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
  }

  
